/**
 * Variables
 */

// Colors
$color-blue: #53969F;
$color-gray: #292828;
$color-green: #AFC077;
$color-red: #A2351E;
$color-orange: #F7882F;
$color-beige: #dbc8aa;
$color-white: #F8EFE6;

$color-background: $color-gray;
$color-base: $color-white;
$color-primary: #53969f;
$color-secondary: #f7882f;

$color-gray-border: lighten($color-background, 40%);
$color-gray-bg: $color-base;

// Typographic
$typographic-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
