//main: inline.less

@blue: #53969f;
@grey: #292828;
@green: #afc077;
@red: #a2351e;
@orange: #f7882f;
@beige: #dbc8aa;
@white: #f8efe6;

@background: @grey;
@text-box: darken(@background, 8%);
@border: lighten(@background, 15%);
@font: @white;
@placeholder: lighten(@background, 60%);
@link: @blue;
@link-hover: @orange;