<ul class="social">
    <li>
        <a href="https://github.com/thoward27">
            <img src="/static/icons/github.svg" alt="Github">
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/thoward3/">
            <img src="/static/icons/linkedin.svg" alt="Linkedin">
        </a>
    </li>
    <li>
        <a href="mailto:info@tomhoward.codes">
            <img src="/static/icons/gmail.svg" alt="Gmail">
        </a>
    </li>
</ul>
