---
layout: layouts/base.njk
section: home
pagination:
    data: collections.post
    size: 6
    alias: posts
    reverse: false
---
{% from "components/posts.njk" import card %}

{{ content | safe }}

<section>
	{% for post in posts | reverse %}
		{{ card(post) }}
	{% endfor %}
</section>
